@import "./style.css";

* {
    box-sizing: border-box;
}

body {
    /* margin: 0 auto; */
    /* min-width: 1440px; */
}

header {
    /* background-color: var(--color-midnight-green); */
    /* position: relative; */
    /* overflow: hidden; */
    height: 241px;
    width: 100%;
    padding-top: 73px;
}

.contact {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--color-midnight-green);
    min-height: 548px;
    width: 100%;
    margin: 0 auto;
}


.half-donut {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0;
}

.half-donut img {
    width: 200px;
    height: 200px;
    max-width: none;
    transform: translateX(-100px);
}


.half-pink-donut {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 225px;
    overflow: hidden;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

}

.half-pink-donut img {
    width: 200px;
    height: 225px;
    max-width: none;
}

.contact-content {
    display: flex;
    flex-direction: row;
    flex-basis: 1112px;
    gap: 30px;

}

.contact-content-intro {
    display: flex;
    flex-direction: column;
    width: 540px;
}

.contact-content-intro ul {
    padding-left: 0px;
    margin: 0;
    list-style: none;
}

.contact-content-intro ul li {
    margin-top: 8px
}

.h1-margin {
    margin: 0;
    margin-top: 20px;
}

.text-white {
    color: var(--color-white);
}

.ask-about-us {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-heading);
    font-size: 32px;
    line-height: var(--line-h2);
    color: var(--color-light-coral);
    margin-top: 40px;
    margin-bottom: 23px;
}

.contact-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
}

.contact-card figure {
    margin: 0;
    width: 72px;
    height: 72px;
}

.person-img {
    margin-left: 6px;
}

.contact-card figure img {
    margin-top: 5px;
}

.contact-card span {
    margin-top: 5px;
    font-weight: var(--font-weight-heading);
}


.contact-content-form-container {
    display: flex;
    flex-direction: column;
    width: 542px;
}

.contact-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}

.contact-form input,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: -0.12px;
    display: block;
    width: 100%;
    padding-left: 14px;
    padding-bottom: 13px;
    margin-top: 24px;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #aaa;
    outline: none;
    height: 42px;
}


.submit-btn {
    padding: 12px;
    color: var(--color-deep-jungle-green);
    border: 2px;
    width: 120px;
    height: 48px;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 24px;
    padding-top: 9px;
    padding-bottom: 15px;
}

.contact-form input:first-child {
    margin-top: 0px;
}

textarea {
    width: 542px;
    height: 84px;
    resize: none;
}

input:focus,
textarea:focus {
    border-bottom-color: #fff;
}

.message-field {
    margin-bottom: 48px;
}

.message-field label {
    margin-bottom: 36px;
}

button {
    width: 246px;
    height: 96px;
    border: none;
    border-radius: 50px;
    background: #fff;
    color: #004957;

    font-size: 28px;
    font-weight: 700;

    cursor: pointer;
    text-transform: lowercase;
}